<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" type="text/css" href="assets/css/style.css">

	<title>Burgers</title>
<!-- 	<link rel="stylesheet" type="text/css" href="style.css"> -->
	</head>
	<body>
	{{{ body }}}


	<script src="https://code.jquery.com/jquery-2.2.3.js" integrity="sha256-laXWtGydpwqJ8JA+X9x2miwmaiKhn8tVmOVEigRNtP4=" crossorigin="anonymous"></script>
	</body>

	</html>